h1{
  text-align:center;
  font-family:"Coiny", cursive;
  font-weight:400;
  font-style:italics;
  text-decoration:underline;
}
body{
  background-image:linear-gradient(to bottom right, violet,orchid,lavenderblush);
}
.banner{
  margin:15px;
  padding:15px;
  height:200px;
  border: 10px solid #ffffff;
 box-shadow: 5px 2px 5px 5px #ddfddd;
}
h2{
  text-align: center;
  font-family:"Jacques Francois Shadow", cursive;
  font-weight:400;
  font-weight:bold;
}
ul{
   list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color:DEB8FA;
  }
li{
  float:left;
}
li a, .dropBtn{
  display:inline-block;
  color:CornflowerBlue;
  text-align:center;
  padding:12px 14px;
}
.nav{
   display: flex; justify-content: center; align-items: center;
}
